.border-1 {
  border: 2px solid red;
}
.border-2 {
  border: 2px solid rgb(196, 2, 231);
}
.border-3 {
  border: 2px solid rgb(25, 236, 2);
}
.border-4 {
  border: 2px solid rgb(6, 78, 235);
}
.border-5 {
  border: 2px solid rgb(239, 240, 243);
}

.inputFiledSpan {
  width: 140px;
  position: absolute;
  border: 2px solid #ffffff;
  height: 10px;
  left: 10px;
  top: -10px;
  width: 100px;
}
.inputFiledLabel {
  position: absolute;
  height: 10px;
  left: 19px;
  top: -14px;
  font-size: 12px;
  color: #6c25ff;
  font-weight: 600;
}

.inputFiled::placeholder {
  color: #0b0d11;
  font-weight: 500;
}
.boxShadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
